.form- {
    border-radius: 0;
    border-width: 0;
    color: white;
    background-color: black;
}

.btn {
    border-radius: 0;
    border-color: rgb(70,70,70);
    color: white;
    width: 150px;
}

.btn:hover {
    border-radius: 0;
    border-color: rgb(70,70,70);
    background-color: rgb(70,70,70);
    color: white;
}