a {
    color: white;
    background-color: black;
    color: white;
    cursor: pointer;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.2);
}

.nav-link:hover {
    color: white;
}

.navbar-brand-custom {
    font-size: 3rem; /* Increase this value as needed */
    text-decoration: none;
    margin-left: 3%;
    margin-right: 3%;
}

.navbar-padding {
    padding: 5%;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.glow-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }

.glow-button:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.6), 0 0 40px rgba(255, 255, 255, 0.4);
  }
