<nav-bar></nav-bar>

<div class="container-fluid vh-100">
    <div class="col" style="text-align: center; margin-top: 5%; justify-content: center;">
        <img src="/profile.jpg" class="rounded-circle img-thumbnail" style=" width: 200px; height:auto; ">
        <hr class="" style="width: 40%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="col">
        <p style="padding-left: 30%; padding-right: 30%; text-align: center;">Hello, my name is Jeremiah and I am an enthusiastic software engineering student with a passion for machine learning and web development. Eager to explore the intricate realms of technology, I thrive on crafting innovative solutions and delving into the evolving landscapes of both machine learning and web development. Aspiring to merge the power of data-driven insights with the creativity of web technologies, I'm dedicated to pushing boundaries, creating impactful experiences, and contributing to the ever-expanding tech universe.</p>
    </div>
</div>

