<nav-bar></nav-bar>

<div class="container-fluid">
    <div class="row justify-content-center align-items-center px-5" style="height: 50vh; width: 50vh;">
      <div class="card">
        <img src="/gp-backdrop.png" class="card-img-top mt-3">
        <div class="card-body">
          <h5 class="card-title">Habs - minimal habit tracker</h5>
          <p class="card-text">This is the first mobile app I have made, and it was quite a learning curve. In this blog, I wanted to share my thought process as well as the struggles of integrating RevenueCat, App Store APIs, and Firebase in this application. </p>
          <a href="habsblog" class="btn btn-primary">Read More</a>
        </div>
    </div>
    </div>
  </div>
  