<nav-bar></nav-bar>
<div class="container-fluid vh-100">
    <div class="row">
        <div class="col-5">
            <p class="text-align-left fs-1 p-5">Here's what I've been up to...</p>
        </div>
        <div class="col-7 pt-3 px-5">
          <div class="row mb-5">
            <div class="card">
                <img src="/Fluere.png" class="card-img-top mt-3">
                <div class="card-body">
                  <h5 class="card-title">Fluere</h5>
                  <p class="card-text">As someone who values productivity and efficiency, I've always been on the lookout for tools that can help us focus better and achieve more. Today, I'm thrilled to share that I've taken a giant leap in that direction with the launch of my new app: Fluere! (pronounced 'flew-air', latin for 'flow')</p>
                  <a href="https://fluereapp.com/" class="btn btn-primary">Visit Website</a>
                </div>
            </div>
          </div>
          <div class="row mb-5">
            <div class="card">
                <img src="/habswatch.png" class="card-img-top mt-3">
                <div class="card-body">
                  <h5 class="card-title">Habs</h5>
                  <p class="card-text">A minimal habit tracker for the Pebble watch! With this application, you can track your habit streaks from your wrist without having to pull out your phone!</p>
                  <a href="https://apps.rebble.io/en_US/application/63fa50f863414f0009a4ca34?section=watchapps" class="btn btn-primary">Visit Website</a>
                </div>
            </div>
          </div>
          <div class="row mb-5">
            <div class="card">
                <img src="/watch.png" class="card-img-top mt-3">
                <div class="card-body">
                  <h5 class="card-title">Spike Pebble Watch Face</h5>
                  <p class="card-text">A watchface for Pebble watch users and Cowboy Bebop fans!</p>
                  <a href="https://apps.rebble.io/en_US/application/63e5862363414f0008704a6e?section=watchfaces" class="btn btn-primary">Visit Website</a>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>