<nav-bar></nav-bar>
<div class="container-fluid vh-100">
    <div class="row">
        <div class="col-7 pt-3 px-5">
            <div class="col-5 show-on-mobile">
                <p class="text-align-left fs-1">Here is a brief history of my experiences within the world of tech...</p>
            </div>
            <ul>
                <hr>
                <li class="toggle-accordion">
                    <input type="checkbox" >
                    <div class="head">
                        <h4>
                        Center for Societal Aspiration | (Jul 2024 - Dec 2024) | Software Developer Intern
                        <i class="fa fa-chevron-down"></i>
                        </h4>
                    </div>
                    <div class="body">
                        <p>● Collaborate with the development team to design, implement, and test software applications, ensuring high-quality code and efficient functionality.</p>
                        <p>● Participate in code reviews, contribute to debugging and troubleshooting efforts, and support the development of innovative solutions.</p>
                        <p>● Assist in gathering and analyzing user requirements, and work on projects to enhance the user experience and system performance.</p>
                    </div>
                </li>
                <hr>
                <li class="toggle-accordion">
                <input type="checkbox" checked>
                <div class="head">
                    <h4>
                    Optimal Work | (Jan 2024 - May 2024) | Software Engineer Intern
                    <i class="fa fa-chevron-down"></i>
                    </h4>
                </div>
                <div class="body">
                    <p>● Develop and maintain web applications using Angular framework, ensuring seamless user experiences and responsive design.</p>
                    <p>● Collaborated with other engineers to implement features and functionalities using Python, HTML, and CSS.</p>
                    <p>● Participated in design and development of JSON APIs, enabling efficient data communication and integration.</p>
                </div>
                <hr>
                </li>
                <li class="toggle-accordion">
                    <input type="checkbox" checked>
                    <div class="head">
                        <h4>
                        Franciscan University | (Aug 2023 - Dec 2023) | Teacher's Assistant
                        <i class="fa fa-chevron-down"></i>
                        </h4>
                    </div>
                    <div class="body">
                        <p>● Facilitated the first electrical engineering class at this univeristy.</p>
                        <p>● Graded quizzes for students for unit comprehension and retention.</p>
                        <p>● Organized and guided students through coding problems.</p>
                    </div>
                </li>
                <hr>
                <li class="toggle-accordion">
                <input type="checkbox" checked>
                <div class="head">
                    <h4>
                    Franciscan University | (May 2023 - Aug 2023) | Software Engineer Intern
                    <i class="fa fa-chevron-down"></i>
                    </h4>
                </div>
                <div class="body">
                    <p>● Utilized the complete software development life cycle (SDLC) in Arduino-based projects, from requirements gathering to deployment, ensuring the development process adhered to best practices.</p>
                    <p>● Collaborated with cross-functional team members to define project requirements, translating them into technical specifications and design documents for Arduino-based systems.</p>
                    <p>● Implemented structured and modular C++ code for Arduino microcontrollers, adhering to coding standards and best practices to ensure code reusability and maintainability. </p>
                </div>
                </li>
                <hr>
                <li class="toggle-accordion">
                <input type="checkbox" checked>
                <div class="head">
                    <h4>
                    iCode | (May 2023 - Aug 2023) | Coding Tutor
                    <i class="fa fa-chevron-down"></i>
                    </h4>
                </div>
                <div class="body">
                    <p>● Develop curriculum for four coding courses primarily on Unity 3D Game Design and C# across various age groups.</p>
                    <p>● Conduct personalized 1:1 and small group classes, employing interactive methods and customized lesson plans.</p>
                    <p>● Guide and instruct students aged 9-17 throughout the implementation of project construction through UNITY software code structure and more.</p>
                </div>
                </li>
                <hr>
                <li class="toggle-accordion">
                <input type="checkbox" checked>
                <div class="head">
                    <h4>
                    Franciscan University | (Aug 2021 - May 2025) | Student
                    <i class="fa fa-chevron-down"></i>
                    </h4>
                </div>
                <div class="body">
                    <p>● 3.59 GPA</p>
                    <p>● Major: Software Engineering</p>
                    <p>● Minor: Mathematical Science</p>
                </div>
                </li>
                <hr>
            </ul>
        </div>
        <div class="col-5 hide-on-mobile">
            <p class="text-align-left fs-1 p-5">Here is a brief history of my experiences within the world of tech...</p>
        </div>
    </div>
</div>